.nav-link{
    color:white;
}
.watermark{
  opacity: .85;
  background-color: darkgrey;
  background-repeat: no-repeat;
  background-image: url(https://mail.google.com/mail/u/0?ui=2&ik=af4278023a&attid=0.2&permmsgid=msg-f:1641622219773149244&th=16c836b610f7803c&view=att&disp=safe);
  min-height: 46vh;

}
.col-12a{
  background-size: cover;
  min-height: 85vh;
  min-width: auto;
justify-content: center;
}
.head-space{
  background-color: darkgrey;
background: no-repeat;
  min-height: 82vh;
  margin-top: -50px;
justify-content: center;
}
.rounded{
  margin-top: 65px;
  margin-left: 20px;
}
.name{
  margin-left: 15px;
  font-style: italic;
}
body,html{
  height: 100%;
}
.parallax{
  background-image: url(https://mail.google.com/mail/u/0?ui=2&ik=af4278023a&attid=0.1&permmsgid=msg-a:r2922862268259963785&th=16c7c698ed2d0010&view=att&disp=safe&realattid=f_jz5rpuqc0);
  height: 100%;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.row2{
  min-height: 80vh;
  float: right;
  position: absolute;
  width: 50%;
}

.overlay{
 position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 66%;
  opacity: -.25;
  transition: .5s ease;


}
.row2 :hover .overlay{
  opacity: 1;
}


.icon-bar-a {
  justify-content: space-between;
  float: right;
  width: 20%;
  text-align: center;
  padding: 3px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
}
