.head-space{
  background-image: url(https://mail.google.com/mail/u/0?ui=2&ik=af4278023a&attid=0.1&permmsgid=msg-a:r-4256544771955722955&th=16c7c427a54dac91&view=att&disp=safe&realattid=f_jz5q6zlj0);
  min-height: 75vh;
}
.rounded{
  margin-left: 20px;
}
.name{
  margin-left: 15px;
  font-style: italic;
}
body,html{
  height: 100%;
}
.parallax{
  background-image: url(https://mail.google.com/mail/u/0?ui=2&ik=af4278023a&attid=0.1&permmsgid=msg-a:r2922862268259963785&th=16c7c698ed2d0010&view=att&disp=safe&realattid=f_jz5rpuqc0);
  height: 100%;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.row2{
  position: relative;
  width: 50%;
}
.keith{
  display: block;
  width: 100%;
  height: auto;
}
.overlay{
 position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: aliceblue;
}
.row2 :hover .overlay{
  opacity: 1;
}


.icon-bar-a {
  justify-content: space-between;
  float: right;
  width: 20%;
  text-align: center;
  padding: 3px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
}